In [10]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
ch.head()
#print(ch.head())

,"TOTAL VACANT SEATS - GULZAR-E-HIJRI, GULSHAN TOWN, GULSHAN-E-IQBAL - MALE - 52-POSTS",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,SR#,SEAT_NO,CANDIDATE NAME,FATHER/HUSBAND NAME,GENDER,RELIGION,DISABILITY,REGION,DISTRICT,TEHSIL,MARKS_OBTAINED
1,1,11790077,ALI JAWWAD,SYED MASOOD AKHTAR,Male,Muslim,False,Karachi,Karachi East,Gulzar-E-Hijri,72
2,2,11820986,MUHAMMAD QAVI KHAN,MUHAMMAD RAEES,Male,Muslim,False,Karachi,Karachi East,Gulshan-E-Iqbal,67
3,3,11810161,MUHAMMAD TAHIR,SHAIKH MUHAMMAD ABID,Male,Muslim,False,Karachi,Karachi East,Gulshan Town,67
4,4,11820048,MIRZA NABEEL BAIG,MIRZA YOUNUS BAIG,Male,Muslim,False,Karachi,Karachi East,Gulshan-E-Iqbal,66

In [29]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
ch
#print(ch.head())

,"TOTAL VACANT SEATS - GULZAR-E-HIJRI, GULSHAN TOWN, GULSHAN-E-IQBAL - MALE - 52-POSTS",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,SR#,SEAT_NO,CANDIDATE NAME,FATHER/HUSBAND NAME,GENDER,RELIGION,DISABILITY,REGION,DISTRICT,TEHSIL,MARKS_OBTAINED
1,1,11790077,ALI JAWWAD,SYED MASOOD AKHTAR,Male,Muslim,False,Karachi,Karachi East,Gulzar-E-Hijri,72
2,2,11820986,MUHAMMAD QAVI KHAN,MUHAMMAD RAEES,Male,Muslim,False,Karachi,Karachi East,Gulshan-E-Iqbal,67
3,3,11810161,MUHAMMAD TAHIR,SHAIKH MUHAMMAD ABID,Male,Muslim,False,Karachi,Karachi East,Gulshan Town,67
4,4,11820048,MIRZA NABEEL BAIG,MIRZA YOUNUS BAIG,Male,Muslim,False,Karachi,Karachi East,Gulshan-E-Iqbal,66
...,...,...,...,...,...,...,...,...,...,...,...
73,1,11810664,KRISHNA MOORTI,LOUNG UMEDANI,Male,Non-Muslim,False,Karachi,Karachi East,Gulshan Town,60
74,2,11810092,NARENDAR KUMAR,LOUNG UMEDANI,Male,Non-Muslim,False,Karachi,Karachi East,Gulshan Town,57
75,3,11790230,SHAROON SHAMSHAD,SHAMSHAD MASIH,Male,Non-Muslim,False,Karachi,Karachi East,Gulzar-E-Hijri,54
76,4,11821087,VIJAY KUMAR,DHAN RAJ WAGHELLA,Male,Non-Muslim,False,Karachi,Karachi East,Gulshan-E-Iqbal,49
77,5,11820821,SHAHZAIB EDGAR,EDGAR UMER MASIH,Male,Non-Muslim,False,Karachi,Karachi East,Gulshan-E-Iqbal,46

In [33]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
name = ch['Unnamed: 2']
print(name)

0         CANDIDATE NAME
1             ALI JAWWAD
2     MUHAMMAD QAVI KHAN
3         MUHAMMAD TAHIR
4      MIRZA NABEEL BAIG
             ...
73        KRISHNA MOORTI
74        NARENDAR KUMAR
75      SHAROON SHAMSHAD
76           VIJAY KUMAR
77        SHAHZAIB EDGAR
Name: Unnamed: 2, Length: 78, dtype: object

In [26]:
question = 12*8
solution = 96
question == solution

True

In [34]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
name = ch['Unnamed: 2']
print(name.head())

0        CANDIDATE NAME
1            ALI JAWWAD
2    MUHAMMAD QAVI KHAN
3        MUHAMMAD TAHIR
4     MIRZA NABEEL BAIG
Name: Unnamed: 2, dtype: object

In [37]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
name = (ch['Unnamed: 2'], ch['Unnamed: 10'])
print(name)

(0         CANDIDATE NAME
1             ALI JAWWAD
2     MUHAMMAD QAVI KHAN
3         MUHAMMAD TAHIR
4      MIRZA NABEEL BAIG
             ...
73        KRISHNA MOORTI
74        NARENDAR KUMAR
75      SHAROON SHAMSHAD
76           VIJAY KUMAR
77        SHAHZAIB EDGAR
Name: Unnamed: 2, Length: 78, dtype: object, 0     MARKS_OBTAINED
1                 72
2                 67
3                 67
4                 66
           ...
73                60
74                57
75                54
76                49
77                46
Name: Unnamed: 10, Length: 78, dtype: object)

In [44]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
name = (ch['Unnamed: 2'], ch['Unnamed: 10'])
#name.head()
print(ch.head())

  TOTAL VACANT SEATS - GULZAR-E-HIJRI, GULSHAN TOWN, GULSHAN-E-IQBAL - MALE - 52-POSTS  \
0                                                SR#
1                                                  1
2                                                  2
3                                                  3
4                                                  4

  Unnamed: 1          Unnamed: 2            Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0    SEAT_NO      CANDIDATE NAME   FATHER/HUSBAND NAME     GENDER   RELIGION
1   11790077          ALI JAWWAD    SYED MASOOD AKHTAR       Male     Muslim
2   11820986  MUHAMMAD QAVI KHAN        MUHAMMAD RAEES       Male     Muslim
3   11810161      MUHAMMAD TAHIR  SHAIKH MUHAMMAD ABID       Male     Muslim
4   11820048   MIRZA NABEEL BAIG     MIRZA YOUNUS BAIG       Male     Muslim

   Unnamed: 6 Unnamed: 7    Unnamed: 8       Unnamed: 9     Unnamed: 10
0  DISABILITY     REGION      DISTRICT           TEHSIL  MARKS_OBTAINED
1       False    Karachi  Karachi East   Gulzar-E-Hijri              72
2       False    Karachi  Karachi East  Gulshan-E-Iqbal              67
3       False    Karachi  Karachi East     Gulshan Town              67
4       False    Karachi  Karachi East  Gulshan-E-Iqbal              66

In [76]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
name = (ch['Unnamed: 2'], ch['Unnamed: 10'])
#name.head()
print(name)

(0         CANDIDATE NAME
1             ALI JAWWAD
2     MUHAMMAD QAVI KHAN
3         MUHAMMAD TAHIR
4      MIRZA NABEEL BAIG
             ...
73        KRISHNA MOORTI
74        NARENDAR KUMAR
75      SHAROON SHAMSHAD
76           VIJAY KUMAR
77        SHAHZAIB EDGAR
Name: Unnamed: 2, Length: 78, dtype: object, 0     MARKS_OBTAINED
1                 72
2                 67
3                 67
4                 66
           ...
73                60
74                57
75                54
76                49
77                46
Name: Unnamed: 10, Length: 78, dtype: object)

In [98]:
import pandas as pd
ch = pd.read_excel(r'D:\JOBS & SCHOLARSHIPS\PST JEST JOB\LISTS\Gulshan Town Male.xlsx')
name = ch[ch['Unnamed: 10'] > '60']
print(name)

TypeError: '>' not supported between instances of 'int' and 'str'

In [6]:
import pandas as pd 
ch = pd.read_excel(r'H:\AI - SAYLANI COURSE - DATASETS\2.Merit List - Artificial Intelligence (Robotics).xlsx')
ch

,Unnamed: 0,Candidate Code,Name,Father Name,Status,Cell No.
0,1,CND-0020014,Sheikh Muhammad Tabish Ali,Sheikh Aslam Ali,NaN,3350247249
1,2,CND-00289826,Adnan Ali Khan Zai,Nasir Ali Khan Zai,NaN,3033366843
2,3,CND-0054628,Abdul bari,Shahzad,NaN,3342978992
3,4,CND-007700,M. Ali,M. Alamghir,NaN,3162065994
4,5,CND-00109133,Faheem Abdul Raheem,Abdul Raheem,NaN,3432480490
5,6,CND-00277299,M. Mubeen,Farooq,NaN,3230203128
6,7,CND-0079382,Junaid Ahmed Dahri,Khair Muhammad,NaN,3073223239
7,8,CND-0080171,M. Wajahat Ghauri,Khadim Hussain,NaN,3045836887
8,9,CND-0084996,M. Ammar Umer,M. Umer,NaN,3168941551
9,10,CND-00132394,Norbin Rohan,Nadeem Suhail,NaN,3412680140
10,11,CND-0029076,Syeda Dania Batool Abidi,Syed Farman Ali,NaN,3463233127
11,12,CND-0079781,Faiza Zehra Agha,Karam Hussain Mirza,NaN,3333327174
12,13,CND-0020583,Najeeb ur Rehman,Rehman ullah baig,NaN,3420465116
13,14,CND-0065053,Shahzad,M. Asghar,NaN,3431708310
14,15,CND-00171325,Zohaib ali,anwar ali mughal,NaN,3092361477
15,16,CND-00123218,M. Shahmeer Shaikh,M. Zubair Shaikh,NaN,3212619343
16,17,CND-00273111,Syeda Hareem Nehal,S.M Nehal Farooq,NaN,3321334840
17,18,CND-00179142,Syed Faizan Ali,Syed Feroz Ali Late),NaN,3112303686
18,19,CND-00236474,M. Farhan Fasih,Khawaja Fasih Uddin,NaN,3311392852
19,20,CND-0051931,Rida Ameer,Faiz Ameer,W,3331330336
20,21,CND-0023507,M. Annas Chowhan,M. Hanif Chowhan,NaN,3032109997
21,22,CND-0024910,M. Younus,Ashraf Hussain,NaN,3109240755
22,23,CND-0025233,Fahad Hassan Ghouri,Abdul Malik Ghouri,NaN,3101288813
23,24,CND-0033896,M. shahzaib uddin,Sami uddin,NaN,3161623268
24,25,CND-0066108,Naveed ullah Mangnejo,Deedar Ali,NaN,3250315676
25,26,CND-00146833,Hamza Laeeq Ahmed,Laeeq Ahmed,NaN,3128735979
26,27,CND-0082577,Alishba Rasheed,Abdul Rasheed Khan,W,3327825357
27,28,CND-0047606,Abdul Hadi,Javed,W,3121095886

In [1]:
import pandas as pd 
ch = pd.read_excel(r'H:\AI - SAYLANI COURSE - DATASETS\2.Merit List - Artificial Intelligence (Robotics).xlsx')
ch

,S. No.,Candidate Code,Name,Father Name,Status,Cell No.
0,1,CND-0020014,Sheikh Muhammad Tabish Ali,Sheikh Aslam Ali,NaN,3350247249
1,2,CND-00289826,Adnan Ali Khan Zai,Nasir Ali Khan Zai,NaN,3033366843
2,3,CND-0054628,Abdul bari,Shahzad,NaN,3342978992
3,4,CND-007700,M. Ali,M. Alamghir,NaN,3162065994
4,5,CND-00109133,Faheem Abdul Raheem,Abdul Raheem,NaN,3432480490
5,6,CND-00277299,M. Mubeen,Farooq,NaN,3230203128
6,7,CND-0079382,Junaid Ahmed Dahri,Khair Muhammad,NaN,3073223239
7,8,CND-0080171,M. Wajahat Ghauri,Khadim Hussain,NaN,3045836887
8,9,CND-0084996,M. Ammar Umer,M. Umer,NaN,3168941551
9,10,CND-00132394,Norbin Rohan,Nadeem Suhail,NaN,3412680140
10,11,CND-0029076,Syeda Dania Batool Abidi,Syed Farman Ali,NaN,3463233127
11,12,CND-0079781,Faiza Zehra Agha,Karam Hussain Mirza,NaN,3333327174
12,13,CND-0020583,Najeeb ur Rehman,Rehman ullah baig,NaN,3420465116
13,14,CND-0065053,Shahzad,M. Asghar,NaN,3431708310
14,15,CND-00171325,Zohaib ali,anwar ali mughal,NaN,3092361477
15,16,CND-00123218,M. Shahmeer Shaikh,M. Zubair Shaikh,NaN,3212619343
16,17,CND-00273111,Syeda Hareem Nehal,S.M Nehal Farooq,NaN,3321334840
17,18,CND-00179142,Syed Faizan Ali,Syed Feroz Ali Late),NaN,3112303686
18,19,CND-00236474,M. Farhan Fasih,Khawaja Fasih Uddin,NaN,3311392852
19,20,CND-0051931,Rida Ameer,Faiz Ameer,W,3331330336
20,21,CND-0023507,M. Annas Chowhan,M. Hanif Chowhan,NaN,3032109997
21,22,CND-0024910,M. Younus,Ashraf Hussain,NaN,3109240755
22,23,CND-0025233,Fahad Hassan Ghouri,Abdul Malik Ghouri,NaN,3101288813
23,24,CND-0033896,M. shahzaib uddin,Sami uddin,NaN,3161623268
24,25,CND-0066108,Naveed ullah Mangnejo,Deedar Ali,NaN,3250315676
25,26,CND-00146833,Hamza Laeeq Ahmed,Laeeq Ahmed,NaN,3128735979
26,27,CND-0082577,Alishba Rasheed,Abdul Rasheed Khan,W,3327825357
27,28,CND-0047606,Abdul Hadi,Javed,W,3121095886

In [1]:
ch.describe()
#ch.info()
#ch.shape

NameError: name 'ch' is not defined

In [23]:
ch.remove("Status")

AttributeError: 'DataFrame' object has no attribute 'remove'

In [5]:
import pandas as pd
ch = pd.read_excel(r'H:\AI - SAYLANI COURSE - DATASETS\2.Merit List - Artificial Intelligence (Robotics).xlsx')
ch

,S. No.,Candidate Code,Name,Father Name,Status,Cell No.
0,1,CND-0020014,Sheikh Muhammad Tabish Ali,Sheikh Aslam Ali,NaN,3350247249
1,2,CND-00289826,Adnan Ali Khan Zai,Nasir Ali Khan Zai,NaN,3033366843
2,3,CND-0054628,Abdul bari,Shahzad,NaN,3342978992
3,4,CND-007700,M. Ali,M. Alamghir,NaN,3162065994
4,5,CND-00109133,Faheem Abdul Raheem,Abdul Raheem,NaN,3432480490
5,6,CND-00277299,M. Mubeen,Farooq,NaN,3230203128
6,7,CND-0079382,Junaid Ahmed Dahri,Khair Muhammad,NaN,3073223239
7,8,CND-0080171,M. Wajahat Ghauri,Khadim Hussain,NaN,3045836887
8,9,CND-0084996,M. Ammar Umer,M. Umer,NaN,3168941551
9,10,CND-00132394,Norbin Rohan,Nadeem Suhail,NaN,3412680140
10,11,CND-0029076,Syeda Dania Batool Abidi,Syed Farman Ali,NaN,3463233127
11,12,CND-0079781,Faiza Zehra Agha,Karam Hussain Mirza,NaN,3333327174
12,13,CND-0020583,Najeeb ur Rehman,Rehman ullah baig,NaN,3420465116
13,14,CND-0065053,Shahzad,M. Asghar,NaN,3431708310
14,15,CND-00171325,Zohaib ali,anwar ali mughal,NaN,3092361477
15,16,CND-00123218,M. Shahmeer Shaikh,M. Zubair Shaikh,NaN,3212619343
16,17,CND-00273111,Syeda Hareem Nehal,S.M Nehal Farooq,NaN,3321334840
17,18,CND-00179142,Syed Faizan Ali,Syed Feroz Ali Late),NaN,3112303686
18,19,CND-00236474,M. Farhan Fasih,Khawaja Fasih Uddin,NaN,3311392852
19,20,CND-0051931,Rida Ameer,Faiz Ameer,W,3331330336
20,21,CND-0023507,M. Annas Chowhan,M. Hanif Chowhan,NaN,3032109997
21,22,CND-0024910,M. Younus,Ashraf Hussain,NaN,3109240755
22,23,CND-0025233,Fahad Hassan Ghouri,Abdul Malik Ghouri,NaN,3101288813
23,24,CND-0033896,M. shahzaib uddin,Sami uddin,NaN,3161623268
24,25,CND-0066108,Naveed ullah Mangnejo,Deedar Ali,NaN,3250315676
25,26,CND-00146833,Hamza Laeeq Ahmed,Laeeq Ahmed,NaN,3128735979
26,27,CND-0082577,Alishba Rasheed,Abdul Rasheed Khan,W,3327825357
27,28,CND-0047606,Abdul Hadi,Javed,W,3121095886

In [2]:
ch.describe()

NameError: name 'ch' is not defined

In [3]:
import pandas as pd
ch = pd.read_excel(r'H:\AI - SAYLANI COURSE - DATASETS\2.Merit List - Artificial Intelligence (Robotics).xlsx')
ch

,S. No.,Candidate Code,Name,Father Name,Status,Cell No.
0,1,CND-0020014,Sheikh Muhammad Tabish Ali,Sheikh Aslam Ali,NaN,3350247249
1,2,CND-00289826,Adnan Ali Khan Zai,Nasir Ali Khan Zai,NaN,3033366843
2,3,CND-0054628,Abdul bari,Shahzad,NaN,3342978992
3,4,CND-007700,M. Ali,M. Alamghir,NaN,3162065994
4,5,CND-00109133,Faheem Abdul Raheem,Abdul Raheem,NaN,3432480490
5,6,CND-00277299,M. Mubeen,Farooq,NaN,3230203128
6,7,CND-0079382,Junaid Ahmed Dahri,Khair Muhammad,NaN,3073223239
7,8,CND-0080171,M. Wajahat Ghauri,Khadim Hussain,NaN,3045836887
8,9,CND-0084996,M. Ammar Umer,M. Umer,NaN,3168941551
9,10,CND-00132394,Norbin Rohan,Nadeem Suhail,NaN,3412680140
10,11,CND-0029076,Syeda Dania Batool Abidi,Syed Farman Ali,NaN,3463233127
11,12,CND-0079781,Faiza Zehra Agha,Karam Hussain Mirza,NaN,3333327174
12,13,CND-0020583,Najeeb ur Rehman,Rehman ullah baig,NaN,3420465116
13,14,CND-0065053,Shahzad,M. Asghar,NaN,3431708310
14,15,CND-00171325,Zohaib ali,anwar ali mughal,NaN,3092361477
15,16,CND-00123218,M. Shahmeer Shaikh,M. Zubair Shaikh,NaN,3212619343
16,17,CND-00273111,Syeda Hareem Nehal,S.M Nehal Farooq,NaN,3321334840
17,18,CND-00179142,Syed Faizan Ali,Syed Feroz Ali Late),NaN,3112303686
18,19,CND-00236474,M. Farhan Fasih,Khawaja Fasih Uddin,NaN,3311392852
19,20,CND-0051931,Rida Ameer,Faiz Ameer,W,3331330336
20,21,CND-0023507,M. Annas Chowhan,M. Hanif Chowhan,NaN,3032109997
21,22,CND-0024910,M. Younus,Ashraf Hussain,NaN,3109240755
22,23,CND-0025233,Fahad Hassan Ghouri,Abdul Malik Ghouri,NaN,3101288813
23,24,CND-0033896,M. shahzaib uddin,Sami uddin,NaN,3161623268
24,25,CND-0066108,Naveed ullah Mangnejo,Deedar Ali,NaN,3250315676
25,26,CND-00146833,Hamza Laeeq Ahmed,Laeeq Ahmed,NaN,3128735979
26,27,CND-0082577,Alishba Rasheed,Abdul Rasheed Khan,W,3327825357
27,28,CND-0047606,Abdul Hadi,Javed,W,3121095886

In [4]:
ch.describe()

          S. No.      Cell No.
count  28.000000  2.800000e+01
mean   14.500000  3.232655e+09
std     8.225975  1.380221e+08
min     1.000000  3.032110e+09
25%     7.750000  3.111538e+09
50%    14.500000  3.221411e+09
75%    21.250000  3.335740e+09
max    28.000000  3.463233e+09

In [5]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S. No.          28 non-null     int64
 1   Candidate Code  28 non-null     object
 2   Name            28 non-null     object
 3   Father Name     28 non-null     object
 4   Status          3 non-null      object
 5   Cell No.        28 non-null     int64
dtypes: int64(2), object(4)
memory usage: 1.4+ KB

In [6]:
ch.shape

(28, 6)